<h1>Bienvenue dans la Revue des {{ heroes.length }} héros, {{ username }}</h1>

<p>
  <label for="InputUsername">Votre nom <input id="InputUsername" type="text" name="name" [(ngModel)]="username"></label>
</p>

<h2>Les Héros</h2>
<ul>
  <li *ngFor='let hero of heroes'>{{ hero }}<small *ngIf="hero == username">(c'est moi :)</small></li>
</ul>

<h2>Les Vilains</h2>
<ul>
  <li *ngFor='let vilain of evils'>{{ vilain }}<small *ngIf="vilain == username">(c'est moi :)</small></li>
</ul>



<p>
<label for="InputHeroName">Héros à ajouter : <input id="InputHeroName" type="text" name="nameOfTheHero" [(ngModel)]="heroToAdd"></label><button (click)='addHero()'>Ajouter héros</button>
</p>

<p>
<label for="InputHeroNameToRemove">Héros à retirer : <input id="InputHeroNameToRemove" type="text" name="nameOfTheHero" [(ngModel)]="heroToRemove"></label><button (click)='removeHero(heroToRemove)'>Retirer héros</button>
</p>

<p>
<label for="InputHeroNameToRemove">Héros à retirer : <select name="nameOfTheHero" id="InputHeroNameToRemove">
  <option *ngFor='let hero of heroes' >{{hero}}</option>
</select></label><button (click)='removeHero(heroToRemove)'>Retirer héros</button>
</p>

<p>
  <label for="InputHeroNameToRemove">Vilain à ajouter/retirer : <input id="InputHeroNameToRemove" type="text"
      name="nameOfTheHero" [(ngModel)]="vilainToRemove"></label><button (click)='manageCharacter(vilainToRemove, this.evils)'>Ajouter/Retirer
    vilain</button>
</p>

<app-heroes-list></app-heroes-list>

<!-- <p>
<label for="InputHeroNameToRemove">Héros à retirer : <select name="nameOfTheHeroToRemove" id="InputHeroNameToRemove">
  <option *ngFor='let hero of heroes'>{{ hero }}</option>

</select><button (click)='removeHero()'>Retirer héros</button>
</p>
 -->
